@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=M+PLUS+Code+Latin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

body {
  height: 100%;
}

main {
  margin: 0 auto;
}
nav {
  width: 100%;
}

nav ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: flex-start;
}

nav ul li {
  padding: 0.5rem;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;

  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
nav ul a {
  text-decoration: none;
}

nav li.active {
  background-color: lightseagreen;
  color: white;
}

.hidden {
  display: none;
}

.row {
  display: flex;
}

.row > div {
  padding: 0;
}

#header {
  display: block;
  font-family: Caveat;
  font-size: 2rem;
  color: #ffffff;
  background: #0e8dbc;
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.enumeration {
  display: flex;
  justify-content: space-around;
}

.slogan {
  font-family: "Special Elite", cursive;
  background: #fffdf5;
  color: #3f3f5a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

blockquote {
  font-weight: 100;
  font-size: 2rem;
  max-width: 600px;
  line-height: 1.4;
  position: relative;
  margin: 0;
  padding: 0.5rem;
}

blockquote:before,
blockquote:after {
  position: absolute;
  color: #f1efe6;
  font-size: 8rem;
  width: 4rem;
  height: 4rem;
}

blockquote:before {
  content: "“";
  left: -5rem;
  top: -2rem;
}

blockquote:after {
  content: "”";
  right: -5rem;
  bottom: 1rem;
}

cite {
  line-height: 3;
  text-align: left;
}

h2 {
  text-align: center;
  color: #3345e5;
}

.header {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(164, 102, 244, 0.9594942575477692) 0%,
    rgba(0, 148, 252, 0.7259710531319137) 49%,
    rgba(0, 14, 252, 0.7259710531319137) 100%
  );
  color: #ffffff;
  padding: 15px;
}

.left {
  margin-left: 15px;
  margin-right: 10px;
  list-style-type: none;
  padding-left: 15px;
  padding-left: 15px;
  background-color: #33b5e5;
  color: #ffffff;
}

a {
  text-decoration: none;
}
#section3 > div.row > div.left > ul > li:nth-child(1) > div > a:nth-child(2) {
  margin-right: 15px;
}
a:hover {
  color: #c00d28;
}

ul {
  list-style-type: none;
  padding-inline-start: 10px;
}

ul > li {
  margin: 1rem 0;
}

ol {
  margin-left: 1rem;
}
ol > li {
  margin: 1rem 0;
}
#menu-nav {
  font-size: 1.2rem;
}

#menu-nav:hover {
  color: #c00d28;
  cursor: pointer;
}

@media (max-width: 768px) {
  /* For mobile: */
  .row {
    flex-direction: column;
  }
  .enumeration {
    flex-direction: column;
  }

  blockquote::before {
    content: none;
  }
  blockquote::after {
    content: none;
  }
}
