/*variable*/

/*reset*/

/*base style*/

nav li.active {
  background-color: rgb(243, 225, 147);
  color: white;
}
#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hidden {
  display: none;
}
ul {
  list-style: none;
}
.active {
  display: block;
}
a {
  color: aqua;
  text-shadow: 1px 1px 2px black;
  text-decoration: none;
}
a:hover {
  color: #0dc00d;
}

.dark {
  background-color: #222;
  color: #e6e6e6;
}

/*fonts*/

/*mobile styles*/

img {
  width: 20%;
}

/*small tablet styles*/

@media screen and (min-width: 620px) {
  img {
    width: 50%;
  }
}

/* large table and laptop */

@media screen and (min-width: 960px) {
}
/*desktop styles*/
@media screen and (min-width: 1200px) {
}
