*{
    background-color: rgb(4, 1, 24);
    color: white;
    font-size: 100%;
}

h1{
    font-size: 2rem;
}

button{
    padding: 1%;
}

.enumeration{
    list-style: none;
    display: flex;
    justify-content: space-around;
    
}

#menu-nav{
    justify-content: left;
}
.cv{
    display: inline;
}