*{
    background-color: black;
    color: white;
}



.enumeration{
    list-style: none;
    display: flex;
    justify-content: space-around;
    
}

#menu-nav{
    justify-content: left;
}
.cv{
    display: inline;
}