*{
    background-color: rgb(4, 1, 24);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h1{
    font-size: 2rem;
    color: green;
}

h2{
    font-size: 1.5rem;
    color: green;
}

button{
    padding: 1%;
}

.enumeration{
    list-style: none;
    display: flex;
    justify-content: space-around;
    
}

#menu-nav{
    justify-content: left;
}
.cv{
    display: inline;
}

#contact{
    text-align: center;
    border-bottom: 1px solid #07f55e;
}

#content{
    display: flex;
}

#experience{
    width: 50%;
    border-right: 1px solid yellow;
}

#education{
    width: 50%;
    padding-left: 2rem;
}